body {
  font-family: Arial;
  
  background: #061f2e;
    

}

/*#gr {
  
  background-image: linear-gradient(white,#b1dce3,#86c7d1);
  
}*/

header {

  background-image: linear-gradient(grey, White);

color: #5d5b5b;

font-family: Georgia, serif;

text-align: center;


}

section {



background: #ebe5e3db;
text-align: center;


}

footer {

  background-image: linear-gradient(white,#5e5351);
    color: black;

   /* background:#b4dad9;*/
    text-align: center;
    /*background-image: linear-gradient(#045d6d, #00ffea, rgb(5, 68, 104));*/
    font-size: 18px;
    
  }



h2 {



    color: #5d5b5b;

    font-family: Georgia, serif;
    
    text-align: center;


}


iframe {




    margin: 0 10% 0 10%;

    width: 80%;
    height: 500px;


}

/* Style the tab */
.radio_playlist

{

  width:100%;
  height:calc(10%);
  max-height: 50vh;
  overflow-x:hidden;
  overflow-y:scroll;
  
}

.radio_playlist::-webkit-scrollbar-track
{
  border: 1px solid black;
  background-color: #17d76a;
}
.radio_playlist::-webkit-scrollbar
{
  width: 14px;
  background-color: #643939;
}

.radio_playlist::-webkit-scrollbar-thumb
{
  background-color: #05344f;/*#000000*/
}





.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

ul {
  
 text-align: left; 
  
}

#p1{
  
  color: red;
  
}